openapi: 3.0.0
info:
  title: FastPay API
  version: 1.0.0
  description: |-
    API for creating and managing payment charges.

    ## Authentication

    This API uses **Basic Authentication** for direct API access, such as creating charges.
    Use your API key as the username and an empty string as password.
    The header should be formatted as:

    `Authorization: Basic {base64(apiKey:)}`.

    For example:

    ```
    Authorization: Basic YWxleG91dG9uOiIi
    ```

    ## Webhooks

    FastPay sends webhooks to notify your application about charge status changes in real-time.
    Webhooks are sent via HTTP POST requests to your configured webhook endpoints.

    ### Webhook Events

    The following webhook events are available for charges:

    - `charge.created` - Sent when a new charge is created
    - `charge.pending` - Sent when a charge is pending payment
    - `charge.paid` - Sent when a charge is successfully paid
    - `charge.updated` - Sent when a charge is updated

    ### Webhook Payload Structure

    All webhook payloads follow this structure:

    ```json
    {
      "id": "webhook_event_id",
      "event": "charge.paid",
      "data": {
        // Complete charge object
      }
    }
    ```

    ### Webhook Delivery

    - Webhooks are sent via HTTP POST requests
    - Content-Type: `application/json`
    - Retry logic is implemented for failed deliveries
    - Webhook events are stored in the database for audit purposes
    - Delivery logs are maintained for debugging and monitoring

    ### Webhook Security

    - Webhooks are sent to pre-configured endpoints
    - Endpoints can be enabled/disabled per merchant
    - Event filtering is supported (only receive specific events)
    - Failed deliveries are retried with exponential backoff
servers:
  - url: https://api-global.fastpaybrasil.com
    description: Produção e Sandbox (diferenciados pela API key)
paths:
  /v1/charges:
    post:
      summary: Create a new charge
      description: |-
        Creates a payment charge for a merchant with the
        specified amount, currency, and payment method.
      tags:
        - Charges
      security:
        - basic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCharge'
      responses:
        '201':
          description: The charge has been successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedCharge'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: Forbidden
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 422
                  error:
                    type: string
                    example: Unprocessable Entity
                  message:
                    type: string
                    example: The items list contains one of more items with invalid type.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
    get:
      summary: Get all charges
      description: Returns a paginated list of charges filtered by the provided criteria.
      tags:
        - Charges
      security:
        - basic: []
      parameters:
        - name: page
          in: query
          description: Page number (starts at 1)
          required: false
          schema:
            type: integer
            example: 1
            default: 1
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            example: 20
            default: 10
        - name: orderBy
          in: query
          description: |-
            Order results by fields (comma-separated).
            Prefix with - for descending order.
          required: false
          schema:
            type: string
            example: createdAt,-amount
        - name: status
          in: query
          description: Filter charges by status
          required: false
          schema:
            type: string
            enum:
              - paid
              - pending
              - refused
              - failed
              - refunded
              - in_analysis
              - authentication_required
            example: paid
        - name: merchantId
          in: query
          description: Filter charges by merchant ID
          required: false
          schema:
            type: string
            example: 2vorkDcXyvzifL63YX09S9VqcnI
      responses:
        '200':
          description: Successfully retrieved the list of charges
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedChargeList'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: Forbidden
  /v1/wallets:
    get:
      summary: Get merchant wallets
      description: |-
        Returns a list of wallets with balances for the specified merchant,
        optionally filtered by currency.
      tags:
        - Wallets
      security:
        - bearer: []
      parameters:
        - name: merchantId
          in: query
          description: Merchant ID to get wallets for
          required: true
          schema:
            type: string
            example: 2vorkDcXyvzifL63YX09S9VqcnI
        - name: currency
          in: query
          description: Filter wallets by currency code
          required: false
          schema:
            type: string
            example: BRL
      responses:
        '200':
          description: Successfully retrieved the list of wallets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Wallet'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: Forbidden
        '404':
          description: Merchant not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Unauthorized
                  error:
                    type: string
                    example: Merchant not found
  /v1/payment-methods:
    get:
      summary: Get available payment methods
      description: |-
        Returns a list of payment methods available for the merchant,
        optionally filtered by currency.
      tags:
        - Payment Methods
      security:
        - basic: []
      parameters:
        - name: merchantId
          in: query
          description: Filter payment methods by merchant ID
          required: false
          schema:
            type: string
            example: 2vorkDcXyvzifL63YX09S9VqcnI
        - name: currency
          in: query
          description: Filter payment methods by currency
          required: false
          schema:
            type: string
            example: USD
      responses:
        '200':
          description: Successfully retrieved the list of payment methods
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PaymentMethod'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: Forbidden
  /v1/submerchants:
    post:
      summary: Create a new Submerchant
      description: |-
        Creates a submerchant FastPay account linked to the MerchantMaster.
      tags:
        - FastConnect
      security:
        - basic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSubMerchant'
      responses:
        '201':
          description: The charge has been successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedSubMerchant'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: Forbidden
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 422
                  error:
                    type: string
                    example: Unprocessable Entity
                  message:
                    type: string
                    example: The items list contains one of more items with invalid type.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
    get:
      summary: Get all submerchants
      description: |-
        Get all submerchants related to MerchantMaster
      tags:
        - FastConnect
      security:
        - basic: []
      parameters:
        - name: status
          in: query
          required: false
          description: Filters merchants by current status.
          schema:
            type: string
            enum:
              - active
              - inactive
              - pending
              - rejected
              - blocked
          example: active
        - name: companyTaxId
          in: query
          required: false
          description: Merchant tax identification number (e.g. CNPJ).
          schema:
            type: string
          example: "1234567890"
        - name: legalName
          in: query
          required: false
          description: Merchant legal (registered) name.
          schema:
            type: string
          example: Legal Name
        - name: tradeName
          in: query
          required: false
          description: Merchant trade or business name.
          schema:
            type: string
          example: Trade Name
        - name: createdAt
          in: query
          required: false
          description: Filters merchants created at a specific date.
          schema:
            type: string
            format: date
          example: "2021-01-01"
        - name: updatedAt
          in: query
          required: false
          description: Filters merchants last updated at a specific date.
          schema:
            type: string
            format: date
          example: "2021-01-01"
        - name: approvedAt
          in: query
          required: false
          description: Filters merchants approved at a specific date.
          schema:
            type: string
            format: date
          example: "2021-01-01"
        - name: rejectedAt
          in: query
          required: false
          description: Filters merchants rejected at a specific date.
          schema:
            type: string
            format: date
          example: "2021-01-01"
        - name: blockedAt
          in: query
          required: false
          description: Filters merchants blocked at a specific date.
          schema:
            type: string
            format: date
          example: "2021-01-01"
        - name: inactivatedAt
          in: query
          required: false
          description: Filters merchants inactivated at a specific date.
          schema:
            type: string
            format: date
          example: "2021-01-01"
        - name: currency
          in: query
          required: false
          description: Filters merchants by operating currency.
          schema:
            type: string
            example: BRL
        - name: page
          in: query
          description: Page number (starts at 1)
          required: false
          schema:
            type: integer
            example: 1
            default: 1
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            example: 20
            default: 10
        - name: orderBy
          in: query
          description: |-
            Order results by fields (comma-separated).
            Prefix with - for descending order.
          required: false
          schema:
            type: string
            example: legalName,-createdAt
      responses:
        '200':
          description: Successfully retrieved the list of submerchants
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSubMerchantList'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: Forbidden
  /v1/submerchants/{id}:
    get:
      summary: Get one submerchant
      description: |-
        Get one specific submerchant related to MerchantMaster
      tags:
        - FastConnect
      security:
        - basic: [ ]
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the merchant.
          schema:
            type: string
            example: 36OO3bcGjhPjjF3tzrqOGcmQuKo
      responses:
        '200':
          description: Successfully retrieved the submerchant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubMerchant'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: Forbidden
  /v1/submerchants/{id}/document:
    post:
      summary: Upload submerchant documents
      description: |-
        Upload submerchant documents to approval
      tags:
        - FastConnect
      security:
        - basic: [ ]
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the merchant.
          schema:
            type: string
            example: 36OO3bcGjhPjjF3tzrqOGcmQuKo
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/UploadSubMerchantDocuments'
      responses:
        '201':
          description: Successfully uploaded documents
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: Forbidden
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 422
                  error:
                    type: string
                    example: Unprocessable Entity
                  message:
                    type: string
                    example: The items list contains one of more items with invalid type.
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 500
                  message:
                    type: string
                    example: Internal server error
  /v1/submerchants/{id}/api-keys:
    get:
      summary: Get submerchant's API Keys
      description: |-
        Get API keys from specified SubMerchant
      tags:
        - FastConnect
      security:
        - basic: [ ]
      parameters:
        - name: id
          in: path
          required: true
          description: Unique identifier of the merchant.
          schema:
            type: string
            example: 36OO3bcGjhPjjF3tzrqOGcmQuKo
      responses:
        '200':
          description: Successfully retrieved the API keys
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeys'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: Forbidden

  /v1/fast-connect/sub-accounts/{id}/fees-info:
    get:
      summary: Get sub-account fees and registration info
      description: |-
        Retorna as taxas (transacionais `tx_spread` e de antecipação
        `anticipation`), a razão social e o CNPJ de uma subconta do Fast Connect.

        O retorno depende de **qual conta** está autenticada — não apenas do `:id`:

        - **Conta master:** usa o `:id` informado e retorna a subconta vinculada
          (`parent_merchant_id = master`). Id de outra master, inexistente, ou o
          próprio id do master retorna `404`. Exige `enable_fast_connect`
          habilitado na master (caso contrário, `403`).
        - **Subconta:** retorna **sempre os próprios dados**; o `:id` é
          **ignorado** (não depende de `enable_fast_connect`).

        As taxas vêm como lista plana: a rota **não** mescla overrides de bandeira
        (`brand: visa/mastercard/elo`) com a taxa padrão (`brand: null`), nem faz
        fallback para taxas default do gateway — calcular a taxa efetiva por
        bandeira/parcela é responsabilidade do consumidor.
      tags:
        - FastConnect
      security:
        - basic: [ ]
        - bearer: [ ]
      parameters:
        - name: id
          in: path
          required: true
          description: Id (KSUID) da subconta. Obrigatório quando autenticado como conta master; ignorado quando autenticado como subconta.
          schema:
            type: string
            example: 2v2TGGb4NHTQWCiMmnelz2WVOZP
      responses:
        '200':
          description: Taxas e dados cadastrais da subconta
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubAccountFeesInfo'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Não autorizado
        '403':
          description: Forbidden - conta não-merchant ou Fast Connect não habilitado na master
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: Fast Connect não habilitado para esta conta
        '404':
          description: Subconta não encontrada (não vinculada, inexistente, ou id do próprio master)
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Subconta não encontrada

  /v1/submerchants/{merchantId}/payout-requests:
    post:
      summary: Create payout request
      description: |-
        Creates a payout request for a submerchant in the Fast Connect context.
        
        The amount must be provided in cents (e.g., R$ 100.00 = 10000).
        Currency is always `BRL` for submerchants.
        Destination is always PIX using the submerchant's CNPJ as key.
      tags:
        - FastConnect
      security:
        - bearer: []
      parameters:
        - name: merchantId
          in: path
          required: true
          description: ID of the submerchant requesting the payout
          schema:
            type: string
            example: 2vorkDcXyvzifL63YX09S9VqcnI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSubMerchantPayoutRequest'
      responses:
        '201':
          description: Payout request created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSubMerchantPayoutRequestResponse'
        '401':
          description: Unauthorized - invalid or missing authentication token
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 401
                message: Unauthorized
        '403':
          description: Forbidden - Fast Connect is not enabled for this merchant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 403
                message: Fast Connect not enabled.
        '404':
          description: Submerchant not found or does not belong to the merchant master
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 404
                message: SubMerchant not found
                error: Not Found
        '422':
          description: Unprocessable Entity - Business validations failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                submerchantInactive:
                  summary: Inactive submerchant
                  value:
                    statusCode: 422
                    message: SubMerchant is not active
                    error: Unprocessable Entity
                cnpjNotConfigured:
                  summary: CNPJ not configured
                  value:
                    statusCode: 422
                    message: SubMerchant CNPJ not configured
                    error: Unprocessable Entity
                feesNotConfigured:
                  summary: Payout fees not configured
                  value:
                    statusCode: 422
                    message: Payout fees not configured
                    error: Unprocessable Entity
                invalidAmount:
                  summary: Invalid amount
                  value:
                    statusCode: 422
                    message: amount must be a positive number
                    error: Unprocessable Entity
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 500
                message: Internal server error

  /v1/payout-requests/{payoutRequestId}:
    get:
      summary: Get payout request by ID
      description: |-
        Returns the complete details of a specific payout request.
      tags:
        - FastConnect
      security:
        - bearer: []
      parameters:
        - name: payoutRequestId
          in: path
          required: true
          description: ID of the payout request
          schema:
            type: string
            example: 2vorkDcXyvzifL63YX09S9VqcnI
      responses:
        '200':
          description: Payout request found successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutRequest'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 401
                message: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 403
                message: Forbidden
        '404':
          description: Not Found - payout request not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 404
                message: Payout request not found
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 500
                message: Internal server error

  /v1/payout-requests:
    get:
      summary: List payout requests
      description: |-
        Lists all payout requests with support for filters and pagination.
      tags:
        - FastConnect
      security:
        - bearer: []
      parameters:
        - name: merchantId
          in: query
          required: false
          description: Filter by submerchant ID
          schema:
            type: string
            example: 36OO3bcGjhPjjF3tzrqOGcmQuKo
        - name: status
          in: query
          required: false
          description: Filter by request status
          schema:
            type: string
            enum:
              - pending
              - approved
              - rejected
            example: pending
        - name: currency
          in: query
          required: false
          description: Filter by currency
          schema:
            type: string
            example: BRL
        - name: createdAt
          in: query
          required: false
          description: Filter by creation date
          schema:
            type: string
            format: date
            example: '2025-12-01'
        - name: processedAt
          in: query
          required: false
          description: Filter by processing date
          schema:
            type: string
            format: date
            example: '2025-12-04'
        - name: page
          in: query
          required: false
          description: Page number (starts at 1)
          schema:
            type: integer
            example: 1
            default: 1
        - name: size
          in: query
          required: false
          description: Number of items per page
          schema:
            type: integer
            example: 20
            default: 10
        - name: orderBy
          in: query
          required: false
          description: Order results by fields (comma-separated). Prefix with - for descending order.
          schema:
            type: string
            example: createdAt,-amount
      responses:
        '200':
          description: Successfully retrieved the list of payout requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedPayoutRequestList'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 401
                message: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 403
                message: Forbidden
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                statusCode: 500
                message: Internal server error

  /v1/customers:
    post:
      summary: Create a new customer
      description: Creates a new customer in the system.
      tags:
        - Customers
      security:
        - basic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCustomer'
      responses:
        '201':
          description: Customer successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedCustomer'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: Forbidden
    get:
      summary: List customers
      description: Returns a paginated list of customers filtered by the provided criteria.
      tags:
        - Customers
      security:
        - basic: []
      parameters:
        - name: search
          in: query
          description: Search by name, email, document, or phone
          required: false
          schema:
            type: string
        - name: email
          in: query
          description: Filter by exact email
          required: false
          schema:
            type: string
        - name: documentId
          in: query
          description: Filter by document ID
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (starts at 1)
          required: false
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Successfully retrieved the list of customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCustomerList'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized

  /v1/customers/{id}:
    get:
      summary: Get customer by ID
      description: Returns details of a specific customer.
      tags:
        - Customers
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique customer identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      responses:
        '200':
          description: Successfully retrieved customer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Customer not found
    put:
      summary: Update customer
      description: Updates an existing customer. Document ID and type cannot be changed after creation.
      tags:
        - Customers
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique customer identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomer'
      responses:
        '200':
          description: Customer successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Customer not found
    delete:
      summary: Delete customer
      description: Removes a customer from the system (soft delete).
      tags:
        - Customers
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique customer identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      responses:
        '204':
          description: Customer successfully deleted
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Customer not found

  /v1/subscription-plans:
    post:
      summary: Create a subscription plan
      description: Creates a new recurring subscription plan.
      tags:
        - Subscription Plans
      security:
        - basic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSubscriptionPlan'
      responses:
        '201':
          description: Subscription plan successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPlan'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 403
                  message:
                    type: string
                    example: Forbidden
    get:
      summary: List subscription plans
      description: Returns a paginated list of subscription plans.
      tags:
        - Subscription Plans
      security:
        - basic: []
      parameters:
        - name: merchantId
          in: query
          description: Filter by merchant ID
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter by plan status
          required: false
          schema:
            type: string
            enum:
              - active
              - inactive
        - name: page
          in: query
          description: Page number (starts at 1)
          required: false
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Successfully retrieved the list of subscription plans
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSubscriptionPlanList'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized

  /v1/subscription-plans/{id}:
    get:
      summary: Get subscription plan by ID
      description: Returns details of a specific subscription plan.
      tags:
        - Subscription Plans
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique subscription plan identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      responses:
        '200':
          description: Successfully retrieved subscription plan
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPlan'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Subscription plan not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Subscription plan not found
    put:
      summary: Update subscription plan
      description: |-
        Updates an existing subscription plan. Changes do NOT affect existing subscriptions,
        only new subscriptions will use the updated values.
      tags:
        - Subscription Plans
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique subscription plan identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscriptionPlan'
      responses:
        '200':
          description: Subscription plan successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPlan'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Subscription plan not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Subscription plan not found

  /v1/subscription-plans/{id}/image:
    post:
      summary: Upload plan image
      description: Uploads an image for the subscription plan.
      tags:
        - Subscription Plans
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique subscription plan identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Image file (PNG, JPG, JPEG)
              required:
                - file
      responses:
        '204':
          description: Image successfully uploaded
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Subscription plan not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Subscription plan not found

  /v1/subscription-plans/{id}/status:
    patch:
      summary: Update plan status
      description: |-
        Activates or deactivates a subscription plan. If the plan has active subscriptions
        and is being deactivated, a confirmation token will be returned.
      tags:
        - Subscription Plans
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique subscription plan identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  enum:
                    - active
                    - inactive
                  description: New plan status
                  example: inactive
      responses:
        '200':
          description: Status updated or confirmation required
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SubscriptionPlan'
                  - $ref: '#/components/schemas/StatusUpdateConfirmationRequired'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Subscription plan not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Subscription plan not found

  /v1/subscription-plans/{id}/status/confirm:
    patch:
      summary: Confirm plan deactivation
      description: Confirms the deactivation of a plan that has active subscriptions.
      tags:
        - Subscription Plans
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique subscription plan identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - confirmationToken
              properties:
                confirmationToken:
                  type: string
                  description: Token received from status update endpoint
                  example: abc123xyz
      responses:
        '204':
          description: Deactivation confirmed successfully
        '400':
          description: Invalid or expired token
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Invalid or expired confirmation token
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized

  /v1/subscriptions:
    post:
      summary: Create a subscription (Checkout)
      description: |-
        Creates a new subscription linked to a plan.

        **Payment Method Options:**
        - Use `cardTokenId` to reference an existing, active card
        - Use `paymentMethod` to register a new card with this subscription

        **Card Validation Flow (when using paymentMethod):**
        - If `validateCard: true` (default): A small test charge (e.g., R$ 1.50) is made to the card.
          The customer must check their card statement and call `POST /v1/cards/{cardTokenId}/activate` with the exact value.
          After activation, pending subscriptions using that card will have their first charge processed automatically.
        - If `validateCard: false`: The card is used immediately and the first charge is processed.

        **Using an existing card (cardTokenId):**
        - The card must be active (not pending activation)
        - The first charge is processed immediately
      tags:
        - Subscriptions
      security:
        - basic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewSubscription'
      responses:
        '201':
          description: Subscription successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedSubscription'
        '400':
          description: Invalid data or creation failure
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Failed to create subscription
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Subscription plan not found or inactive
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Subscription plan not found or inactive
    get:
      summary: List subscriptions
      description: Returns a paginated list of subscriptions.
      tags:
        - Subscriptions
      security:
        - basic: []
      parameters:
        - name: merchantId
          in: query
          description: Filter by merchant ID
          required: false
          schema:
            type: string
        - name: customerId
          in: query
          description: Filter by customer ID
          required: false
          schema:
            type: string
        - name: status
          in: query
          description: Filter by subscription status
          required: false
          schema:
            type: string
            enum:
              - pending_activation
              - active
              - cancelled
              - paused
              - expired
        - name: search
          in: query
          description: Search by customer name, email, or plan name
          required: false
          schema:
            type: string
        - name: page
          in: query
          description: Page number (starts at 1)
          required: false
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          description: Number of items per page
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Successfully retrieved the list of subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedSubscriptionList'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized

  /v1/subscriptions/{id}:
    get:
      summary: Get subscription by ID
      description: Returns complete details of a subscription, including charge history.
      tags:
        - Subscriptions
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique subscription identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      responses:
        '200':
          description: Successfully retrieved subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionDetail'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Subscription not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Subscription not found
    patch:
      summary: Update subscription
      description: Updates data of an active subscription.
      tags:
        - Subscriptions
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique subscription identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSubscription'
      responses:
        '200':
          description: Subscription successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSubscriptionResponse'
        '400':
          description: Only active subscriptions can be updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Only active subscriptions can be updated
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Subscription not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Subscription not found

  /v1/subscriptions/{id}/cancel:
    post:
      summary: Cancel subscription
      description: |-
        Cancels a subscription. Has regret period logic (up to 7 days after creation).

        **Regret Period (up to 7 days):**
        - Full automatic refund
        - Access revoked immediately

        **Regular Cancellation (after 7 days):**
        - No automatic refund
        - Access continues until end of current period
      tags:
        - Subscriptions
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique subscription identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  description: Cancellation reason (max 500 characters)
                  example: Customer requested cancellation
                  maxLength: 500
      responses:
        '200':
          description: Subscription successfully cancelled
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/CancelSubscriptionRegretResponse'
                  - $ref: '#/components/schemas/CancelSubscriptionRegularResponse'
        '400':
          description: Subscription already cancelled or expired
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Subscription already cancelled or expired
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Subscription not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Subscription not found

  # Cards API
  /v1/cards:
    post:
      summary: Register a card
      description: |-
        Registers a new credit card for a customer. The card is stored securely
        in the token vault and can be used for recurring charges.

        By default (`validateCard=true`), a small test transaction (up to R$ 2.00)
        is made to validate the card. The customer must verify this amount on their
        statement and use the `/cards/{id}/activate` endpoint to activate the card.
      tags:
        - Cards
      security:
        - basic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterCard'
      responses:
        '201':
          description: Card registered successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegisterCardResponse'
        '400':
          description: Invalid card data or registration failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Failed to register card
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
    get:
      summary: List cards
      description: Returns a list of registered cards for the authenticated merchant/customer.
      tags:
        - Cards
      security:
        - basic: []
      parameters:
        - name: customerId
          in: query
          description: Filter by customer ID
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Successfully retrieved the list of cards
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CardListItem'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized

  /v1/cards/{id}:
    get:
      summary: Get card by ID
      description: Returns details of a specific card.
      tags:
        - Cards
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique card identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      responses:
        '200':
          description: Successfully retrieved card
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardDetail'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Card not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Card not found
    delete:
      summary: Delete a card
      description: |-
        Deletes a registered card. The card is removed from the PSP and the
        token is revoked from the vault.
      tags:
        - Cards
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique card identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      responses:
        '200':
          description: Card deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Deleted card ID
                    example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
                  deleted:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Card deleted successfully
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Card not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Card not found

  /v1/refunds:
    post:
      summary: Request a refund
      description: |-
        Requests a **full refund** (estorno) for a charge that has `paid` status.
        Partial refunds are not supported — the entire charge amount is reversed.

        Works for both PIX and credit card payment methods.

        On success the charge status transitions to `refunded` and the
        `charge.refunded` webhook event is fired to all configured endpoints
        and the charge's `postbackUrl` (if set).
      tags:
        - Charges
      security:
        - basic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - chargeId
                - reason
              properties:
                chargeId:
                  type: string
                  description: ID of the charge to refund. Must be in `paid` status.
                  example: 2vorkDcXyvzifL63YX09S9VqcnI
                reason:
                  type: string
                  description: Reason for the refund.
                  example: Customer requested cancellation
      responses:
        '201':
          description: Refund requested successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundResponse'
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Charge not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Unprocessable Entity - charge is not in paid status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/three-ds/authenticate:
    post:
      summary: Initiate 3DS authentication
      description: |-
        Creates a 3D Secure authentication object. The response may include
        `fingerprintingUrl` (render in a hidden iframe and listen for postMessage)
        or `challengeUrl` (render in a visible iframe for user challenge).

        **Authentication:** Uses the merchant's **public/publishable key**
        (`pk_...`) in the Authorization header as Basic auth username.
      tags:
        - 3D Secure
      security:
        - basic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSAuthenticateRequest'
      responses:
        '200':
          description: Authentication initiated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSAuthenticateResponse'
        '404':
          description: No 3DS provider configured for this merchant
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/three-ds/submit:
    post:
      summary: Submit 3DS authentication
      description: |-
        Submits a 3DS authentication after optional fingerprinting.
        Pass `fingerprintingResult` if you received it from the iframe postMessage.
        Returns updated status and may include `challengeUrl` if a challenge is required.

        **Authentication:** Uses the merchant's public/publishable key (`pk_...`).
      tags:
        - 3D Secure
      security:
        - basic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDSSubmitRequest'
      responses:
        '200':
          description: Authentication submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSSubmitResponse'
        '404':
          description: No 3DS provider configured or authentication not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/three-ds/cancel:
    post:
      summary: Cancel 3DS authentication
      description: |-
        Cancels a 3DS authentication that is in `requires_submission` or
        `requires_challenge` status.

        **Authentication:** Uses the merchant's public/publishable key (`pk_...`).
      tags:
        - 3D Secure
      security:
        - basic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - authenticationId
              properties:
                authenticationId:
                  type: string
                  description: 3DS Authentication ID to cancel
                  example: tdsa_1QmCRMJM0r9zBvr4OVmMRa6X
      responses:
        '200':
          description: Authentication cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  authenticationId:
                    type: string
                    example: tdsa_1QmCRMJM0r9zBvr4OVmMRa6X
                  status:
                    type: string
                    example: canceled
        '404':
          description: No 3DS provider configured or authentication not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/three-ds/challenge-result:
    post:
      summary: Get 3DS challenge result
      description: |-
        Retrieves the final result of a 3DS challenge, including the cryptogram
        and transaction IDs needed to complete the charge via POST /v1/charges
        with the `threeDS` payment method field.

        **Authentication:** Uses the merchant's public/publishable key (`pk_...`).
      tags:
        - 3D Secure
      security:
        - basic: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - authenticationId
              properties:
                authenticationId:
                  type: string
                  description: 3DS Authentication ID
                  example: 3ds_auth_123456
      responses:
        '200':
          description: Challenge result retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDSChallengeResult'
        '404':
          description: No 3DS provider configured or authentication not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/charges/{id}/resume-3ds:
    post:
      summary: Resume charge after managed 3DS authentication
      description: |-
        Called by the 3DS micro-frontend (or your own integration) after the
        buyer completes the managed 3DS authentication. Processes the charge
        using the provided 3DS result and fires postback/webhook events.

        The charge must be in `authentication_required` status.

        **Authentication:** Uses the merchant's public/publishable key (`pk_...`).
      tags:
        - 3D Secure
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Charge ID
          schema:
            type: string
            example: 2vorkDcXyvzifL63YX09S9VqcnI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - threeDS
              properties:
                threeDS:
                  $ref: '#/components/schemas/CreditCardThreeDS'
      responses:
        '200':
          description: Charge resumed and processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedCharge'
        '401':
          description: Unauthorized - invalid public key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Charge not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Charge is not in authentication_required status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/charges/{id}/resend-webhook:
    post:
      summary: Resend webhook for a test charge (sandbox)
      description: |-
        Resends a webhook for a **test charge** with a simulated status.
        Use this in sandbox to test your webhook handler without waiting for
        real payment events.

        Only works for test-mode charges (created with a sandbox API key).
      tags:
        - Charges
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Test charge ID
          schema:
            type: string
            example: 2vorkDcXyvzifL63YX09S9VqcnI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - status
              properties:
                status:
                  type: string
                  description: Simulated charge status to use in the webhook payload
                  enum:
                    - paid
                    - pending
                    - refused
                    - failed
                    - refunded
                    - in_analysis
                    - authentication_required
                  example: paid
      responses:
        '200':
          description: Webhook resent successfully
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Forbidden - insufficient permissions or not a test charge
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Charge not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /v1/cards/{id}/activate:
    post:
      summary: Activate a card
      description: |-
        Activates a card that is in `pending_validation` status.

        When a card is registered with `validateCard=true`, a small test transaction
        (up to R$ 2.00) is made. The customer must check their card statement for
        this amount and provide it here to activate the card.

        After successful activation, the test transaction amount is automatically refunded.
      tags:
        - Cards
      security:
        - basic: []
      parameters:
        - name: id
          in: path
          required: true
          description: Unique card identifier
          schema:
            type: string
          example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - activationValue
              properties:
                activationValue:
                  type: string
                  description: |-
                    The test transaction amount shown on the card statement (e.g., "1.50").
                    Enter the exact decimal value, NOT in cents.
                  example: "1.50"
      responses:
        '200':
          description: Card activated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Card ID
                    example: 2RhQg9M7ZCg3X3nMb9W1kX8Q
                  status:
                    type: string
                    example: active
                  message:
                    type: string
                    example: Card activated successfully
        '400':
          description: Invalid activation value or card already active
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 400
                  message:
                    type: string
                    example: Invalid activationValue or card is already activated
        '401':
          description: Unauthorized - invalid credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: Unauthorized
        '404':
          description: Card not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: integer
                    example: 404
                  message:
                    type: string
                    example: Card not found

components:
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: |-
        HTTP Basic authentication. Use your secret key as the
        username and an empty string as password. The API key
        should be base64 encoded in the format 'username:' when
        sending the Authorization header.
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |-
        JWT Bearer token authentication. Use the JWT token obtained
        from the login endpoint in the Authorization header as 'Bearer {token}'.
  schemas:
    NewCharge:
      type: object
      required:
        - amount
        - currency
        - customer
        - paymentMethod
        - items
      properties:
        amount:
          type: number
          description: The amount to charge in the currency unit, not cents. (e.g., 10 for 10 BRL)
          example: 10
          minimum: 1
        currency:
          type: string
          description: The ISO 4217 currency code. (e.g., BRL, USD, EUR)
          example: USD
        customer:
          type: object
          description: |-
            Customer data. Provide `id` to reference an existing customer (all other
            fields become optional), or provide `name` + `email` (or `phone`) to
            create/look up a customer inline.
          properties:
            id:
              type: string
              description: |-
                ID of an existing customer. When provided, all other customer fields
                are optional — the existing customer record is used as-is.
              example: "2RhQg9M7ZCg3X3nMb9W1kX8Q"
            name:
              type: string
              description: The name of the customer
              example: John Doe
            email:
              type: string
              description: |-
                The email address of the customer. Required when `id` is not provided
                and `phone` is not provided.
              example: john.doe@example.com
            phone:
              type: string
              description: |-
                The phone number of the customer. Can be used instead of `email`
                when `id` is not provided.
              example: "+1234567890"
            document:
              type: object
              properties:
                type:
                  type: string
                  description: The type of document. Its based on the
                    country of the payment method. (e.g., ARG = dni,cuit; BRA = cnpj)
                  example: dni
                id:
                  type: string
                  description: The document or identification number of the customer
                  example: "12345678900"
            address:
              type: object
              properties:
                country:
                  type: string
                  description: |-
                    The ISO 3166-1 alpha-3 country code. (e.g., BRA, USA, ARG)
                  example: USA
            ipAddress:
              type: string
              description: The IP address of the customer
              example: '127.0.0.1'
        paymentMethod:
          oneOf:
            - title: Credit Card
              type: object
              required:
                - type
                - number
                - holderName
                - expirationMonth
                - expirationYear
                - cvv
                - installments
              properties:
                type:
                  type: string
                  enum:
                    - credit_card
                  description: The payment method type
                  example: credit_card
                number:
                  type: string
                  description: Credit card number. Without spaces.
                  example: "1111222233334444"
                holderName:
                  type: string
                  description: Credit card holder name.
                  example: John Doe
                expirationMonth:
                  type: string
                  description: Credit card expiration month.
                  minLength: 2
                  maxLength: 2
                  example: "10"
                expirationYear:
                  type: string
                  description: Credit card expiration year.
                  minLength: 4
                  maxLength: 4
                  example: "2025"
                cvv:
                  type: string
                  description: Credit card security code.
                  minLength: 3
                  example: "123"
                installments:
                  type: number
                  description: Payment installments quantity.
                  maximum: 12
                  example: 1
                threeDSMode:
                  type: string
                  enum:
                    - managed
                  description: |-
                    Set to `"managed"` to let FastPay handle the 3DS authentication
                    flow automatically (managed 3DS). When set, also provide `browser`.
                    After creation the charge will have status `authentication_required`
                    and the flow continues via POST /v1/charges/{id}/resume-3ds.
                  example: managed
                browser:
                  $ref: '#/components/schemas/BrowserInfo'
                threeDS:
                  $ref: '#/components/schemas/CreditCardThreeDS'
            - title: Credit Card (with saved card)
              type: object
              description: |-
                Pay with a previously saved card using its token ID.
                Get the cardTokenId from POST /v1/cards response (the "id" field).
              required:
                - type
                - cardTokenId
                - cvv
                - installments
              properties:
                type:
                  type: string
                  enum:
                    - credit_card
                  description: The payment method type
                  example: credit_card
                cardTokenId:
                  type: string
                  description: |-
                    ID of a previously saved card (from POST /v1/cards response).
                    The card must be active (not pending activation).
                  example: "2RhQg9M7ZCg3X3nMb9W1kX8Q"
                cvv:
                  type: string
                  description: Credit card security code (required even for saved cards).
                  minLength: 3
                  example: "123"
                installments:
                  type: number
                  description: Payment installments quantity.
                  maximum: 12
                  example: 1
                threeDSMode:
                  type: string
                  enum:
                    - managed
                  description: Set to `"managed"` to use managed 3DS flow. Provide `browser` when using this mode.
                  example: managed
                browser:
                  $ref: '#/components/schemas/BrowserInfo'
                threeDS:
                  $ref: '#/components/schemas/CreditCardThreeDS'
            - title: Credit Card (with Apple Pay wallet)
              type: object
              description: |-
                Pay with an Apple Pay token obtained from the Apple Pay JS API.
                When the `wallet` field is provided, card fields (number, holderName,
                expirationMonth, expirationYear, cvv) are not required — FastPay
                decrypts the Apple Pay token and extracts the card data automatically.
                See the Apple Pay integration guide for the full onboarding flow.
              required:
                - type
                - wallet
                - installments
              properties:
                type:
                  type: string
                  enum:
                    - credit_card
                  description: The payment method type
                  example: credit_card
                installments:
                  type: number
                  description: Payment installments quantity.
                  maxLength: 12
                  example: 1
                wallet:
                  type: object
                  description: Apple Pay wallet payload containing the secure token.
                  required:
                    - type
                    - token
                  properties:
                    type:
                      type: string
                      enum:
                        - applepay
                      description: Wallet type.
                      example: applepay
                    token:
                      type: object
                      description: |-
                        Apple Pay payment token. This is the `payment.token` object
                        returned by the Apple Pay JS API after the user authorizes
                        the payment (event `onpaymentauthorized`). Send the object
                        as-is, without modifications.
                      required:
                        - paymentData
                        - paymentMethod
                        - transactionIdentifier
                      properties:
                        paymentData:
                          type: object
                          description: Encrypted payment data from Apple Pay.
                          required:
                            - data
                            - signature
                            - version
                            - header
                          properties:
                            data:
                              type: string
                              format: byte
                              description: Base64-encoded encrypted payment data.
                              example: "4bh5q3l...base64..."
                            signature:
                              type: string
                              format: byte
                              description: Base64-encoded detached PKCS #7 signature.
                              example: "MIAGCSqGSIb3DQEHAqCAMIACAQExDz...base64..."
                            version:
                              type: string
                              enum:
                                - EC_v1
                              description: Payment token data format version.
                              example: EC_v1
                            header:
                              type: object
                              description: Payment data header with key exchange information.
                              required:
                                - ephemeralPublicKey
                                - publicKeyHash
                                - transactionId
                              properties:
                                ephemeralPublicKey:
                                  type: string
                                  format: byte
                                  description: Base64-encoded ephemeral EC public key (EC_v1).
                                  example: "MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE...base64..."
                                publicKeyHash:
                                  type: string
                                  format: byte
                                  description: |-
                                    Base64-encoded SHA-256 hash of the X.509 encoded
                                    merchant public key certificate.
                                  example: "Ut4Wu3+Tc7n3Ld5gqkX5lL/YkS3rsX5gA8w...base64..."
                                transactionId:
                                  type: string
                                  description: Hex-encoded transaction identifier.
                                  example: "31323334353637383930"
                        paymentMethod:
                          type: object
                          description: Information about the card used for the payment.
                          required:
                            - displayName
                            - network
                            - type
                          properties:
                            displayName:
                              type: string
                              description: Localized description of the payment method.
                              example: "Visa 1234"
                            network:
                              type: string
                              description: Payment network name.
                              example: "Visa"
                            type:
                              type: string
                              enum:
                                - debit
                                - credit
                                - prepaid
                                - store
                              description: Card type.
                              example: credit
                        transactionIdentifier:
                          type: string
                          description: Unique identifier for this Apple Pay transaction.
                          example: "b1f6f7d2c9a45e3b8b7e2a9d8f0c5e1d4a3b2c1e0d9f8a7b6c5d4e3f2a1b0c9"
            - title: Pix
              type: object
              required:
                - type
              properties:
                type:
                  type: string
                  enum:
                    - pix
                  description: The payment method type
                  example: pix
                expirationInDays:
                  type: number
                  description: |-
                    Pix expiration in days. Required if `expirationInSeconds` is not provided.
                  minimum: 1
                  example: 1
                expirationInSeconds:
                  type: number
                  description: |-
                    Pix expiration in seconds. Required if `expirationInDays` is not provided.
                    Minimum 900 (15 minutes).
                  minimum: 900
[...]
